<section class="photo__container">
  <ul class="photo__reset--container">
    <li class="photo__reset--text"><i class="far fa-trash-alt"></i></li>
    <li class="photo__reset--text">Reset</li>
  </ul>
  <div class="photo__card--container">
    <p class="photo__card--name">Nombre Apellido</p>
    <p class="photo__card--frontend">Front-end developer</p>
    <div class="photo__card--photo"></div>
    <div class="photo__card--rrss">
      <i class="fas fa-mobile-alt"></i>
      <i class="far fa-envelope"></i>
      <i class="fab fa-linkedin-in"></i>
      <i class="fab fa-github-alt"></i>
    </div>
  </div>
</section>
