<section class="photo__container">
    <div class="photo__reset--container">
        <ul class="photo__reset--menu">
            <li class="photo__reset--text">
                <i class="far fa-trash-alt"></i>
            </li>
            <li class="photo__reset--text">Reset</li>
        </ul>
    </div>
    <div class="photo__card--container js-photo">
        <div class="photo__card--rectangle"></div>
        <p class="photo__card--name">Nombre Apellido</p>
        <p class="photo__card--frontend">Front-end developer</p>
        <div class="photo__card--photo" id="photo"></div>
        <div class="photo__card--rrss">
            <a href="" id="telLink" target="_blank">
                <i class="fas fa-mobile-alt photo__card--rrss-icon"></i
      ></a>
      <a href="" id="emailLink" target="_blank"
        ><i class="far fa-envelope photo__card--rrss-icon"></i
      ></a>
      <a href="" id="linkedinLink" target="_blank"
        ><i class="fab fa-linkedin-in photo__card--rrss-icon"></i
      ></a>
      <a href="" id="githubLink" target="_blank"
        ><i class="fab fa-github-alt photo__card--rrss-icon"></i
      ></a>
    </div>
        
</section>