<legend class="share">
    <include src="./parameters.html" icon="fas fa-share-alt" text="Comparte" arrow="fas fa-chevron-down">
    </include>
    <fieldset class="hidden dropdown js__fieldset">
        <button class="dropdown__button--create">
			<i class="far fa-address-card"></i> Crear tarjeta
		</button>

        <!-- Aquí iría html de cuando se crea la tarjeta
        <p class="dropdown__message">La tarjeta ha sido creada</p>
        <button class="dropdown__button--tw">
			<i class="fab fa-twitter"></i>Compartir en twitter
		</button>
    </div> -->
    </fieldset>
    <hr class="form__line" />
</legend>