<section class="design">
  <legend class="design__legend">
    <include
      src="./parameters.html"
      icon="far fa-object-ungroup"
      text="Diseña"
      arrow="fas fa-chevron-down"
    ></include>
  </legend>

  <fieldset class="design__check">
    <label class="design__check--colors" for="colors">colores</label>

    <section class="design__check--section">
      <input type="radio" id="colors" name="blue" />

      <section class="design__check--section__box">
        <div class="box box__1"></div>
        <div class="box box__2"></div>
        <div class="box box__3"></div>
      </section>
    </section>

    <section class="design__check--section">
      <input type="radio" id="colors" name="red" />

      <section class="design__check--section__box">
        <div class="box box__4"></div>
        <div class="box box__5"></div>
        <div class="box box__6"></div>
      </section>
    </section>
    <section class="design__check--section">
      <input type="radio" id="colors" name="orange" />

      <section class="design__check--section__box">
        <div class="box box__7"></div>
        <div class="box box__8"></div>
        <div class="box box__9"></div>
      </section>
    </section>
    <hr />
  </fieldset>
  <hr class="form__line" />
</section>
