<legend class="form_design">
  <include
    src="./parameters.html"
    icon="far fa-object-ungroup"
    text="Diseña"
    arrow="fas fa-chevron-down"
  ></include>

  <fieldset class="check_box">
    <label class="colors" for="colors"
      >colores

      <input type="radio" id="blue" name="colors" />

      <section class="dark_blue">
        <div class="box1"></div>
        <div class="box2"></div>
        <div class="box3"></div>
      </section>

      <input type="radio" id="red" name="colors" />

      <section class="color_red">
        <div class="box4"></div>
        <div class="box5"></div>
        <div class="box6"></div>
      </section>

      <input type="radio" id="orange" name="colors" />

      <section class="orange">
        <div class="box7"></div>
        <div class="box8"></div>
        <div class="box9"></div>
      </section>
    </label>
  </fieldset>
</legend>
