<legend class="fill">
    <include src="./parameters.html" icon="far fa-keyboard" text="Rellena" arrow="fas fa-chevron-down" id="fill__arrow" ></include>
    <fieldset class="hidden fill__form js__fieldset">
        <label class="fill__form--label" for="name"> Nombre Completo</label>
        <input class="fill__form--input name" id="fullname" type="text" placeholder=" Ej: Sally Jill" required />

        <label class="fill__form--label" for="job"> Puesto</label>
        <input class="fill__form--input job" id="job" type="text" placeholder=" Ej: Front-end unicorn" required />

        <label class="fill__form--label" for="photo photo__square">
			Imagen de perfil</label
		>

		<label for="imgselector" class="fill__form--input photo"
			>Añadir imagen
			<input
				type="file"
				id="imgselector"
				name="imgselector"
				class="hide--input js__input fill__form--input photo"
			/>
		</label>
        <!-- <button type="button" class="fill__form--input photo">
        
      </button> -->

        <div class="fill__form--input photo__square">
            <!-- <img class="square" /> -->
        </div>

        <label class="fill__form--label" for="email"> Email</label>
        <input class="fill__form--input email" id="emailFill" type="email" placeholder=" Ej: sally-hill@gmail.com" required />

        <label class="fill__form--label" for="tel"> Teléfono</label>
        <input class="fill__form--input tel" id="telFill" type="tel" placeholder=" Ej: 555-55-55-55" ^[0-9]{9}$ />

        <label class="fill__form--label" for="linkedin"> Linkedin</label>
        <input class="fill__form--input linkedin" id="linkedinFill" type="text" placeholder=" Ej: linkedin.com/in/sally.hill" />

        <label class="fill__form--label" for="github"> Github</label>
        <input class="fill__form--input github" id="githubFill" type="text" placeholder=" Ej: @sally-hill" />
    </fieldset>
    <hr class="form__line" />
</legend>