<main class="main">
  <section class="main__section1 section1">
    <div class="section1__img"></div>
  </section>
  <section class="main__section2 section2">
    <h1 class="section2__title">Crea tu tarjeta de visita</h1>
    <p class="section2__text">
      Crea mejores contactos profesionales de forma fácil y cómoda
    </p>
  </section>
  <section class="main__section3 section3">
    <ul class="section3__list list">
      <li class="list__item item1">
        <i class="list__img far fa-object-ungroup"></i>
        <span>Diseña</span>
      </li>

      <li class="list__item item2">
        <i class="list__img far fa-keyboard"></i> <span>Rellena</span>
      </li>

      <li class="list__item item3">
        <i class="list__img fas fa-share-alt"></i> <span>Comparte</span>
      </li>
    </ul>
  </section>
  <section class="main__section4 section4">
    <button class="section4__button">comenzar</button>
  </section>
</main>
