/*index*/

/*photo*/

/*design*/

/*fill*/

.form {
  &__parameters {
    @include form_title;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  &__title {
    display: flex;
    margin-bottom: 21px;
  }
}

.fa-keyboard {
  color: $dull-orange;
  margin-right: 10px;
}

.fa-chevron-down {
  color: $gunmetal;
  margin-left: auto;
}

.fill {
  font-family: $font-open;
  margin: 0 19px 0 20px;

  &__form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;

    &--label {
      @include form_label;
      grid-column: span 2;
      margin-top: 4px;
    }
    &--input {
      border: solid $hospital-green 1px;
      height: 30px;
      margin: 7px 0 16px 0;
      grid-column: span 2;
    }
    .photo {
      @include orange__button;
      border: none;
      border-radius: 4px;
      height: 30px;
      grid-column: span 1;
    }

    .photo__square {
      width: 30px;
      height: 30px;
      grid-column: span 1;
    }

    /*&__line {
      height: 1px;
      background-color: $white-two;
      margin-top: 40px;
    }*/
  }
}

/*share*/
